{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "document": "readonly",
    "window": "readonly",
    "process": "readonly",
    "require": "readonly",
    "module": "readonly",
    "__dirname": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  }
}
